.site {
  display: grid;
  height: 100vh;
  color: #AAAAAA;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: 
    "logo links"
    "nav docs";
}

.parent-ul {
  padding-left:1px;
  margin-top:3px;
}

.folder-ul {
  padding-left:4px;
}

.page-ul {
  list-style-position: inside;
  padding-left:1px;
}

li {
  list-style:none;
  margin: 5px;
}

label {
  padding-right:5px;
  padding-left:5px;
  margin-right: 5px;
  border: 1px solid black;
}

.nav {
  grid-area: nav;
  background-color:#181818;
  color: #AAAAAA;
  border-right: 1px solid grey;
}

.content {
  grid-area: docs;
  background-color:#1B1B1B;
}

.links {
  grid-area: links;
  background-color: #212121;
}

.links ul {
  display:flex;
}

.logo {
  grid-area: logo;
  background-color: #212121;
}

.checkbox + label:before {
  content: "\002B";
}

.checkbox:checked + label:before {
  content: "\2212";
}

.checkbox ~ ul {
  display:none;
}

.checkbox:checked ~ ul {
  display: block;
}

a {
  color: #AAAAAA;
}
