<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  </head>
  <body>
    <div class=site>
      <div class=header>
        <h1>{{ page.title }}</h1>
      </div>
      <div class=nav>
        <ul>
          <li>
            <a href="/readme">Home</a>
          </li>
          <li>
            <a href="/blah">Some Page</a>
          </li>
      </div>
      <div class=content>
        <section>
          {{ content }}
        </section>
      </div>
      <div class=footer>
        <footer>
          This is always here at the bottom
        </footer>
      </div>
    </div>
  </body>
</html>
