<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class=site>
      <div class=myheader>
        should always be on top
      </div>
      <div class=nav>
        <ul>
          <li>
            <a href="readme">Home</a>
          </li>
          <li>
            <a href="blah">Some Page</a>
          </li>
      </div>
              <div class=myfooter>
        <footer>
          should always be at the bottom
        </footer>
      </div>
      <div class=content>
        <section>
          {{ content }}
        </section>
      </div>

    </div>
  </body>
</html>
