<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  </head>
  <body>
    <div class=site>
      <div class=myheader>
        should always be on top
      </div>
      <div class=nav>
        {% for item in site.data.folders.toc %}
        <h3>{{item.title}}</h3>
        <ul>
        {% for entry in item.subfolderitems %}
        <li><a href="{{entry.url}}">{{entry.title}}</a>
            {% for page in site.pages %}
                {% if page.parent == entry.title %}
                  <li>{{ page.title }}</li>
                {% endif %}
          {% endfor %}

        </li>
          
        {% endfor %}
        </ul>
        {% endfor %}
      </div>
              <div class=myfooter>
        <footer>
          should always be at the bottom
        </footer>
      </div>
      <div class=content>
        <section>
          {{ content }}
        </section>
      </div>

    </div>
  </body>
</html>
